# Auto detect text files and perform LF normalization
* text=auto
assets/SOLIDWORKS_Robot_Assembly.zip filter=lfs diff=lfs merge=lfs -text
assets/SOLIDWORKS_Robot_Assembly.zip filter=lfs diff=lfs merge=lfs -text
